/* Los estilos de tu proyecto */

.body{
margin: 0 auto;   
font-family: 'Raleway', sans-serif;
width: 100%;
}

.banner-taxi{
background-image: url("../assets/images/taxi.jpg");
height: 120vh;
width: 100%;
background-size: cover;
background-position: center bottom;
display: flex;
justify-content: flex-end;
align-items: center;
}

.taxi-text{
background-color: #F7B617;
color: white; 
}
    

.img-2{
background-color:#F7B617;   
height: 30em; 
}


.img-iPhone{
 border-right: 1px solid white;  
 border-top: 1px solid white;  
 border-bottom: 1px solid white;  
 color: white;
}

.phone{
padding: 20px;   
}


.text-phone{
 margin-right: 100px;   
 font-family: 'Raleway', sans-serif;
 font-size: 19px;
 font-weight: 400;
 padding: 10px;
}

.title-phone{
font-family: 'Raleway', sans-serif;
 font-size: 30px;
 font-weight: 600;
 padding: 20px;
}

.phone{
height: 380px;
margin-right: 100px;
margin-left: 40px;
}

.img-conduce{
background-image:url('../assets/images/conduce.jpg');
background-size: cover;
background-position: center bottom;
height: 100vh;
width: 100%;
}


.text-conduce{   
 color: white; 
 width: 350px;
}

.conduce{
height: 40em;   
background-color: rgb(62,61,94, 0.3);
}

.button-conduce{
background-color: #F7B617;
border-radius: 5px;  
border: none;
height: 30px;
width: 200px;
color: white;  
}


.tarifas-mapa{
color: white;
background-color: #F7B617;
height: 30em;    
}
#ingresse-partida , #ingresse-destino{
 width: 20em;  
 background-color: #F7B617;
 border: 1px solid white; 
}

.btn-ruta{
background-color: white;
border-radius: 6px;
width: 8em;
height: 2em;    
}

.shape{
width: 25px;
height: 25px;    
}

.footer{
background-color: #2B2B2B;
}

.logo-blanco{
margin-left: 50px;    
padding: 30px;
width: 150px;
height: 80px;
}

.whit{
color: white;
height: 380px;
padding:40px;
margin-top: 10px;
}
.whit li{
 margin-top: 10px;
 list-style-type:none ;
}

.icones{
width: 130px;
height: 50px;
padding: 10px;    
}

.footer-fim{
padding-left: 70px;
color: white;  
margin-top: 30px;  
}

.linha{
border:1px solid white;
margin-right: 60px; 
margin-left: 65px   
}



@media screen and (max-width: 576px){
.mapa{
width: 100px;
height: 200px;
margin-left: 70px;
margin-top: 40px;          
            } 

.tarifas-mapa{
 height: 800px;   
}
.conduce{
height: 30em;   
width: 100%;
background-color: rgb(62,61,94, 0.3);   
}
.whit{
margin-left:10px; 
}
.footer{
 display: flex;
 flex-direction: column; 
 justify-content: center;  
}
}


